body {
    color: #f6f6f6;
}

path {
    cursor: pointer;
}

.control-div {
    position: absolute;
    top: 20px;
    left: 200px;
}

.tsne-div {
    position: absolute;
    left: 7px;
    width: 850px;
    height: 1172px;
    border: 2px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}

.disMatrix-div {
    position: absolute;
    left: 867px;
    border: 2px;
    padding-top:  10px;
    margin-bottom: 10px;
    background: #fff;
    overflow: scroll;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
    color: black;
    width: 1200px;
    height: 857px;
}

.topology-panel {
    position: absolute;
    left: 867px;
    height: 857px;
    border: 2px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}

.waveline-div {
    position: absolute;
    border: 2px;
    left: 867px;
    top: 880px;
    width: 2400px;
    height: 300px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}

.corrcoef-panel {
    position: absolute;
    border: 2px;
    left: 1767px;
    /* top: 1300px; */
    width: 900px;
    height: 857px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}
