body {
    color: #f6f6f6;
}

.tsne-div {
    position: absolute;
    left: 7px;
    width: 1200px;
    height: 857px;
    border: 2px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}

.disMatrix-div {
    position: absolute;
    left: 1257px;
    border: 2px;
    padding-top:  10px;
    margin-bottom: 10px;
    background: #fff;
    overflow: scroll;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
    color: black;
    width: 1200px;
    height: 857px;
}

.control-div {
    position: absolute;
    top: 900px;
    left: 20px;
}

path {
    cursor: pointer;
}

.topology-panel {
    position: absolute;
    left: 1257px;
    border: 2px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}
