.links-line {
    stroke: #aaa;
  }
  
.nodes-circle {
    pointer-events: all;
    cursor: pointer;
    fill: #4157f580;
    stroke: none;
    r: 2.5;
  }

.faultcenter {
    stroke: #ff5722;
    stroke-width: 1px;
    fill: bisque;
    r: 5px;
}

.topo-bus-selected {
    fill: #f44336;
    fill-opacity: 0.5;
}

.waveline-title {
    color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.corrcoef-svg {
    width: 850px;
    height: 850px;
    overflow: scroll;
}

.corrcoef-g-hidden {
    fill-opacity: 0.1;
}