.links-line {
    stroke: #aaa;
  }
  
.nodes-circle {
    pointer-events: all;
    cursor: pointer;
    fill: #4157f580;
    stroke: none;
    r: 2.5;
  }

.faultcenter {
    stroke: #ff5722;
    stroke-width: 1px;
    fill: bisque;
    r: 5px;
}

.topo-bus-selected {
    fill: #f44336;
    fill-opacity: 0.5;
}

.first-order-path {
    stroke: #009688;
    stroke-opacity: 0.65;
}

.first-order-node {
    fill: #009688;
}

.second-order-path {
    stroke: #2e9d32;
    stroke-opacity: 0.65;
}

.second-order-node {
    fill: #2e9d32;
}

.third-order-path {
    stroke: #9ccc65;
    stroke-opacity: 0.65;
}

.third-order-node {
    fill: #9ccc65;
}

.high-light-path {
    stroke: #f44336;
    stroke-opacity: 1.0;
}

.waveline-title {
    color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.corrcoef-svg {
    width: 1750px;
    height: 1750px;
    overflow: scroll;
}

.corrcoef-g-hidden {
    fill-opacity: 0.1;
}