.links-line {
    stroke: #aaa;
  }
  
.nodes-circle {
    pointer-events: all;
    fill: #4157f580;
    stroke: none;
    r: 2.5;
  }

.faultcenter {
    stroke: #ff5722;
    stroke-width: 1px;
    fill: bisque;
    r: 5px;
}

.topo-bus-selected {
    fill: blanchedalmond;
    opacity: 0.5;
    r: 5px;
}

.waveline-div {
    position: absolute;
    border: 2px;
    top: 950px;
    width: 2400px;
    height: 300px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}

.waveline-title {
    color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.corrcoef-panel {
    position: absolute;
    border: 2px;
    top: 1300px;
    width: 2200px;
    height: 2200px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-sizing: border-box;
}

.pixel-point {
    r: 1px;
}
